:root {
  --header-slide: 0;
}
$header-slide: var(--header-slide);

.carousel__container {
  display: flex;
  overflow: scroll;
}
.slider {
  transition: transform 0.5s;
  position: relative;

  display: grid;
  position: relative;

  grid-auto-flow: column;
  grid-auto-columns: 95vw;
  gap: 0.25rem;
  // transform: translate(calc($header-slide + 0.5rem));
  transform: translate(-0%);
  &__group {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 0.25rem;
    // border: 2px solid yellow;
    & > img {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }
}
.slider > img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 0.5rem;
}
.leftHandle,
.rightHandle {
  margin: 0;
  padding: 0;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: transparent;
  transition: transform 0.25s;
  &:hover {
    outline: none;
    transform: scale(1.2);
  }
}

.leftHandle {
  left: 0.5rem;
  top: 2.5rem;
}
.rightHandle {
  right: -0.75rem;
  top: 2.5rem;
}
