:root {
  --carousel-index: 0%;
}
$carousel-index: var(--carousel-index);

.carousel__container {
  display: flex;
  justify-content: center;

  // margin: 0 0.25rem;
}

.carousel__slider {
  display: flex;
  margin: 0 0.25rem;
  transform: translate($carousel-index);
  transition: transform 2s;

  & img {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0.25rem;
    border-radius: 0.75rem;
    overflow: hidden;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
  }
}
.chevron__right_conatiner,
.chevron__left_conatiner {
  transition: background-color 0.15s;
  font-size: 5rem;
  flex-grow: 0;
  color: white;
  background-color: rgba(0 0 0 /0.35);
  z-index: 10;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0rem;
  border-radius: 0.5rem;
  border: none;
  &:hover,
  &:focus {
    background-color: rgba(0 0 0 /0.5);
    cursor: pointer;
    & .chevron {
      transform: scale(1.2);
    }
  }
}
.chevron {
  transition: transform 0.15s ease-in;
}

.chevron__left_container {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.chevron__right_container {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
